# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key

# Creds for trello
TRELLO_KEY=2e229db46c431176d76792468e753e07
TRELLO_TOKEN=7744cff66a5d6c0218ca12bd61403bc8c03b923a98ed463d4e790b03469029ab
TRELLO_BOARD_ID=625ea5bf47562a0ccd50cb39