{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <form action=".\new" method="POST" >
    <div>
      <label for="name">Title: </label>
      <input type="text" name="title" id="title" required> <input type="submit" value="Add Item">
    </div>
  </form>
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <table style="border: 1px solid balck;">
        <tr>
          <th>Task Name</th>
          <th>Current List</th>
          <th>New List</th>
        </tr>
      {% for item in cards %}
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {{ item.name }} , {{item.idList}}
      </ul>
      
        <tr>
          <td>{{ item.name }}</td>
          <td>{{item.idList}}</td>
          <td>
            <select id="newList" name="newList">
              <option value="To Do">sss</option>
              <option value="in Progress">ddd</option>
              <option value="Done" selected>fff</option>
            </select>
          </td>
        </tr>

      {% endfor %}
    </table>
    </div>
  </div>
{% endblock %}