{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <form action=".\new" method="POST" >
    <div>
      <label for="name">Title: </label>
      <input type="text" name="title" id="title" required> <input type="submit" value="Add Item">
    </div>
  </form>
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      {% for item in cards %}
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {{ item.name }} , {{item.idList}}
      </ul>
      {% endfor %}
    </div>
  </div>
{% endblock %}